*,
*::before,
*::after {
  box-sizing: border-box;
}

// @media screen and (min-width:1000px) 

body {
  background-color: $primary-bg-color;

  color: $primary-bg-color;

  font-family: $main-font-family;

}



img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0;
  margin: 0 auto;
}

button {
  font-family: inherit;
}