$primary-text-color: #FFFFFF;
$secondary-text-color: #838698;


// $primary-bg-color: #008000;
$primary-bg-color: #000000;
$secondary-bg-color: #141417;

$button-border-color: #373744;
$button-color: #2D2D34;

$main-font-family: 'Red Hat Display', sans-serif;